
html,
body{
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;


}

* {
	box-sizing: border-box;
	text-decoration: none;
}

.responsive{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.fondo {
	background-image: url(../imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.cabecera {
	background-color: #FFCCFF;
	background-image: linear-gradient(to bottom, #FFCCFF 1%, transparent 100%);
	width: 100%;
}


.logo {
	width: 100%;
	display: flex;
    justify-content: center;
}

.menu {
	width: 100%;
	margin: auto;
	display: flex;
	font-size: 18px;
	column-gap: 5px;
	justify-content: center;
	background-color: #FFCCFF;
}




.boton {
	display: flex;
	flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}

p {
	color: #330066;
	width: 100%;
	margin: auto;
	font-size: 18px;
	font-weight: 800;
	padding-left: 2%;
	padding-right: 2%;

}



h2 a {
	color: #800080;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'BhuTuka Expanded One', cursive;
	display: flex;
	justify-content: center;
	padding-bottom: 1%;
}

.opciones h1 a {
	color: #800080;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'BhuTuka Expanded One', cursive;
	display: flex;
	justify-content: center;
	padding-bottom: 1%;
}

.imagenes {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 4%;
    grid-row-gap: 2%;
    width: 100%;
    margin: auto;
    padding: 10%;
    color: #FF3DB0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 30px;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    justify-items: stretch;
    background-color: #F4E8FF;
}

.imagenes2 > div {
	background-color: white;
}


.imagenes2 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 1%;
	grid-row-gap: 1%;
	width: 100%;
	margin: auto;
	padding: 1%;
	color: #FF3DB0;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 30px;
	
}

.imagenes2 > div {
	background-color: #FFE8E8;
}

.boton-vermas {
	display: flex;
    justify-content: center;
    padding: 15px;
}


.imagenes3 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 6%;
	grid-row-gap: 8%;
	padding: 10%;
	width: 100%;
	margin: auto;
	color: #FF3DB0;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	
}


.imagenes3 > div {
	background-color: #FFE8E8;
}

.imagenes3 img {
	transform: rotate(10deg);
}

.imagenes3 img:hover {
	transform: rotate(-10deg) scale(1.2);
}


.historia p {
	color: #330066;
	width: 100%;
	margin: auto;
	font-size: 17px;
	font-weight: 800;
	
}

.primer-titulo {
	color: #800080;
	background-color: pink;
	width: 100%;
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'BhuTuka Expanded One', cursive;
}


.subtitulo {
		color: #800080;
		font-size: 20px;
		text-align: center;
    	padding: 25px;
}

.subtitulo2 {
	color: #800080;
		font-size: 30px;
		text-align: center;
    	padding-bottom: 0;
    	padding-top: 15px;
}


.titulos {
	background-color: pink;
}

.segundo-titulo {
	color: #800080;
	background-color: pink;
	width: 100%;
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'BhuTuka Expanded One', cursive;
}

 h2 {
	color: #FF33CC;
	width: 100%;
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}


label {
	color: #FF3DB0;
	width: 100%;
	margin: auto;
	font-size: 17px;
	font-weight: bold;
	
}

span {
	color: #FF3DB0;
	width: 100%;
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	
}

.gracias {
	color: #330066;
	width: 100%;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
	text-align: center;	
}

.mensaje {
	color: #330066;
	width: 100%;
	margin: auto;
	font-size: 14px;
	font-weight: italic;
	text-align: center;
}

footer {
	background-color: #FFFAAE;
}

.grilla {
	border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin-top: 60px;
    background-color: #F4E8FF;

}

.grilla-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    padding-left: 50px;
    margin: 0px;
    

}

.precio {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:auto;
    align-items: center;
}

.descripcion {
	color: #CCCCCC;
	width: 100%;
	margin: auto;
	font-size: 20px;
	font-weight: italic;
	text-align: center;
	
}


.boton {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:15px;
    align-items: center;
}

.carta {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:auto;
    align-items: center;
    background-color: #F4E8FF;
}

.metodos-pago {
	margin: 0px;
    padding: 0px;
    padding-left: 50px;


}

.metodos-pago img {
	width: 200px;
}


.redes {
	margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.redes-items {
	display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
 
 .copy {
	display: flex;
	margin: auto;
	width: 100%;
	flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}



@media (min-width: 767px){

	.cabecera {
	background-color: #DDBBFF;
	height: 15%;
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
}


.menu {
	width: 100%;
	display: flex;
	font-size: 40px;
	column-gap: 50px;
	justify-content: center;
	
}

	.logo {
		width: 100%;
		display: flex;
		flex: 1;
}

	h1 {
	
    	padding: 30px;
}

	p {
		color: #FF99FF;
		font-size: 25px;
		text-align: center;
    	padding: 30px;
}


.imagenes {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 1%;
	grid-row-gap: 1%;
	padding: 10px;
	
	}

.imagenes2 {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	padding: 10px;
	
	}

.boton-vermas {
	display: flex;
    justify-content: center;
    padding: 10px;
   
}


.imagenes3 {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 1%;
	grid-row-gap: 1%;
	
	}


.imagenes4 {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 1%;
	grid-row-gap: 1%;
	padding: 10px;
	color: #FF3DB0;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 30px;
	
	}


	.historia p {
	color: #990033;
}


	.productos h1 {
	color: #003399;
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	font-family: 'BhuTuka Expanded One', cursive;
}

.productos h2 {
	color: #FF33CC;
	font-size: 23px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.productos ul li {
	color: #330099;
	font-size: 17px;
	font-weight: 900;
	border-bottom: 20px;
	margin: auto;
	text-align: center;
}

.grilla-cumple {
	border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin: 0px;
    background-color: #FFF7DF;

}

.grilla {
	border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin: 0px;
   background-color: #FFF7DF;

}

.grilla-producto {
	border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin: 0px;
    background-color: #FFF7DF;
    align-content: stretch;
    justify-items: center;

}


.metodos-pago {
	margin: 0px;
    padding: 0px;
    padding-left: 50px;


}

.metodos-pago img {
	width: 200px;
}

.pie {
	display: flex;
	margin: auto;
	width: 100%;
	flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.redes {
	margin-top: 8px;
    padding-left: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.redes-items {
	display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

}