.responsive {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  box-sizing: border-box;
  text-decoration: none; }

.cabecera {
  background-color: #FFCCFF;
  background-image: linear-gradient(to top, #DDBBFF 1%, transparent 100%);
  width: 100%; }

.logo {
  display: flex;
  justify-content: center; }
  @media (min-width: 767px) {
    .logo {
      width: 100%; } }

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  font-size: 20px;
  justify-content: center;
  list-style-type: none;
  background-color: #FFCCFF;
  margin: 0;
  paddin: 0; }
  .menu a {
    transition: all 0.10s ease-in-out; }
    .menu a:hover {
      opacity: 0.3; }
  @media (min-width: 767px) {
    .menu {
      width: 100%;
      font-size: 40px;
      column-gap: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: space-around;
      justify-content: center;
      list-style-type: none;
      background-color: #FFCCFF;
      margin: 0; } }

.mensaje h1 {
  color: #330066;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
  font-weight: 800; }

.mensaje .mensaje2 {
  color: #800080;
  font-size: 40px;
  font-weight: bold;
  text-align: center; }

.mensaje img {
  width: 100%;
  display: flex;
  justify-content: center; }

img, svg {
  vertical-align: middle;
  object-fit: cover; }

.titulos {
  font-family: 'Roboto', sans-serif; }
  .titulos h1 {
    color: #800080;
    background-color: #FFCCFF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'BhuTuka Expanded One', cursive;
    margin: 0;
    paddin: 0; }
  .titulos h2 {
    color: #800080;
    font-size: 30px;
    text-align: center;
    background-color: #FFCCFF;
    margin: 0;
    paddin: 0; }
  .titulos h3 {
    color: #800080;
    font-size: 35px;
    text-align: center; }

.imagenes {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  padding: 5%;
  color: #800080;
  font-size: 15px;
  font-weight: italic;
  text-align: center;
  padding-top: 30px;
  Padding-bottom: 10%; }
  .imagenes a {
    transition: all 0.10s ease-in-out; }
    .imagenes a:hover {
      opacity: 0.3; }
  .imagenes img {
    border-radius: 10px; }
  @media (min-width: 767px) {
    .imagenes {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1fr;
      grid-column-gap: 4px;
      grid-row-gap: 4px;
      justify-content: space-around;
      justify-items: stretch;
      padding: 10px; } }
  .imagenes article {
    background-color: #F4E8FF;
    border-radius: 20px; }
  .imagenes h3 {
    color: #800080;
    font-size: 20px;
    text-align: center; }
  .imagenes h4 {
    color: #800080;
    font-size: 15px;
    text-align: center; }

.imagenes2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  padding: 5%;
  color: #800080;
  font-size: 15px;
  font-weight: italic;
  text-align: center;
  padding-bottom: 50%;
  text-underline: none; }
  .imagenes2 a {
    transition: all 0.10s ease-in-out; }
    .imagenes2 a:hover {
      opacity: 0.3; }
  .imagenes2 img {
    border-radius: 10px; }
  @media (min-width: 767px) {
    .imagenes2 {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1fr;
      grid-column-gap: 4px;
      grid-row-gap: 4px;
      justify-content: space-around;
      justify-items: stretch;
      padding: 10px; } }
  .imagenes2 article {
    background-color: #FFDFF7;
    border-radius: 10px; }
  .imagenes2 h3 {
    color: #800080;
    font-size: 20px;
    text-align: center; }
  .imagenes2 h4 {
    color: #800080;
    font-size: 15px;
    text-align: center; }

.boton {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  margin-top: 10px; }
  .boton a {
    transition: all 0.10s ease-in-out; }
    .boton a:hover {
      opacity: 0.3; }
  @media (min-width: 767px) {
    .boton {
      justify-content: center;
      padding: 10px; } }

.grilla-cumple {
  background-color: #F4E8FF; }
  .grilla-cumple p {
    color: #800080;
    font-size: 12px;
    text-align: center;
    padding: 20px; }
  .grilla-cumple img {
    display: flex;
    justify-content: center;
    padding: 10px; }
  @media (min-width: 767px) {
    .grilla-cumple {
      border: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr;
      justify-content: space-evenly;
      align-items: center;
      padding: 50px;
      margin: 0px;
      background-color: #F4E8FF; }
      .grilla-cumple p {
        color: #800080;
        font-size: 25px;
        text-align: center;
        padding: 30px; }
      .grilla-cumple img {
        transform: rotate(5deg); }
        .grilla-cumple img:hover {
          transform: rotate(-5deg) scale(1); } }

.grilla {
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center; }
  @media (min-width: 767px) {
    .grilla {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      margin: 20px; } }
  .grilla .metodos-pago {
    padding-left: 50px; }
    .grilla .metodos-pago img {
      width: 200px; }
  .grilla form {
    display: flex;
    justify-content: center;
    padding: 10px; }
  .grilla h2 {
    display: flex;
    justify-content: center;
    padding: 10px; }

.carta {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #FFDFF7; }

.redes {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch; }
  .redes .redes-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none; }

.historia p {
  color: #330066;
  width: 100%;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 800; }

.historia h1 {
  color: #800080;
  background-color: #FFCCFF;
  font-size: 40px;
  font-weight: bold;
  text-align: center; }

.imagenes3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 2%;
  padding: 4%;
  padding-bottom: 15%;
  text-align: center;
  padding-top: 30px;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  justify-items: stretch; }
  .imagenes3 img {
    border-radius: 20px; }
  @media (min-width: 767px) {
    .imagenes3 {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1fr;
      grid-column-gap: 1%;
      grid-row-gap: 1%;
      padding: 30px;
      margin: 20px; }
      .imagenes3 img {
        border-radius: 20px;
        transform: rotate(10deg); }
        .imagenes3 img:hover {
          transform: rotate(-10deg) scale(1); } }

.grilla2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  padding: 1%;
  color: #800080;
  font-size: 15px;
  font-weight: italic;
  text-align: center;
  padding-top: 10px; }
  @media (min-width: 767px) {
    .grilla2 {
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      grid-column-gap: 1%;
      grid-row-gap: 1%;
      padding: 10px; } }
  .grilla2 p {
    color: #330066;
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 700; }

/*# sourceMappingURL=estilos.css.map */